<div class="tab-pane" id="4a">
    <div class="container animated fadeIn">

        <div class="row">
            <h1 class="header-title">Volunteer</h1>
            <div class="form-group form_left">
                <table style="width:100%">
                    <tr>
                        <th><img src="img/volunteer.jpg" class="img-rounded" alt="volunteer with cake" height="100" width="100"></th>
                        <th bgcolor="#f5f5f5">
                            <h5>&nbsp;&nbsp;Are you a photographer, videographer, graphic designer, or have other helpful skills to <br /> &nbsp;&nbsp;help with our events? We’d love your help with projects requiring these skills! <br /> &nbsp;&nbsp;We also
                                periodically have internships and volunteer spots open.</h5>
                    </tr>
                </table>
            </div>
        </div>
        <br>

        <input class='form-control' placeholder="name">

        <div class="form-group form_left">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="">
        </div>
        <div class="form-group form_left">
            <input type="address" class="form-control" id="address" name="address" placeholder="address" required="">
        </div>
        <br>
        <button class="btn btn-default btn-send"> <span class="glyphicon glyphicon-send"></span> send </button>
    </div>
</div>
