<div class="box5"></div>

<div style="height:200px; width: 100%;background-color:black;">
    <br />
    <h2 id="Programs">PROGRAMS</h2>
    <p>As the violence continues to erupt in the T.L. young people, the community, law enforcement and city officials gathered to produce the “T.L. Stop the Violence Event.” The serious efforts of planning this event will save lives empower, educate and connect the T.L. for a better future. Future events will produce mentorship opportunities, housing, employment and mental health resources.
    </p>

    <div class="flex-container">
        <div>
            <h3>Mentorship</h3>
            <p style="text-align: center; font-size: 15px;">Connecting Youth with Professionals<br>Youth Internships<br>Connecting elders and youth<br>Develop relationships with local prisons and jails<br>Prison programming through visits, follow up and education<br>Provide parolees with tools to comfortably re-enter society
            </p>
        </div>

        <div>
            <h3>Opportunities</font>
            </h3>
            <p style="text-align: center; font-size: 15px;">Event Production<br>Law Enforcement<br>Security<br>Culiary Arts<br>Security <br>Dress for Success<br>Immigration Services
            </p>
        </div>

        <div>
            <h3>
            Housing/Emergency Housing
            </h3>
            <p style="text-align: center; font-size: 15px;">Connect with housing organizations for accessible housing<br>Parnter with foster care service providers and churches<br>Shelter accessibility for displaced women, children and families<br>Housing for displaced 18-30 year olds<br>Access to
                emergency housing, hotel vouchers and transitional housing<br>Immigration services<br>
            </p>
        </div>

        <div>
            <h3>Mental Health</h3>
            <p style="text-align: center; font-size: 15px;">Identify mental health needs and services<br>Partner with S.F. Department of Public Health<br>Provide Post-Traumatic Stress Disorder (PTSD) resources<br>Provide Holistic health care<br>Re-establish and maintain Existing Community garden<br>Healing
                through the Arts (Music, painting, photography, writing)<br>
            </p>
        </div>
        <br />
    </div>
</div>

<div class="box6"></div>
<div style="height:200px; width: 100%;background-color:black;">
    <br />

    <h2>RESOURCES</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolor nemo quae labore molestiae. Labore, modi assumenda, repellendus quis fuga minima placeat incidunt doloribus voluptatibus praesentium, beatae corporis laboriosam a.</p>
    <br />
</div>
