<div class="nav">
    <ul class="nav navbar">
      <br/>
      <li><img class="logo" src="assets/img/tl-logo.svg" /></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Get Involved</a></li>
      <li><a href="#">Donate</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</div>

<div class="dropdown nav full">
  <button onclick="myFunction()" class="dropbtn"><i class="fas fa-arrow-alt-circle-down"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Events</a>
    <a href="#">Get Involved</a>
    <a href="#">Donate</a>
    <a href="#">Contact</a>
  </div>
</div>