<div class="box7"></div>

<div style="height:200px; width: 100%;background-color:black;">
    <br />
    <h2 id="Events">
        <font color="white">EVENTS</font>
    </h2>
    <p>As the violence continues to erupt in the T.L. Young people, the community, law enforcement and city officials have decided to gather to produce events to empower the community. The serious efforts of planning events will not only save lives but will
        empower, educate, and connect the T.L. for a better future. Moving forward these events will produce mentorship opportunities, housing, employment, mental health resources, and community policing.</p>
    <br />
</div>
