/*STOP THE VIOLENCE SNIPPET box*/
    .box1 {
    /* The image  */
    background-image: url("/assets/img/c7.png");
    /* Set a specific height */
    min-height: 600px;
    min-width: 100%;
    /*opacity*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
}
/*about header box*/
 .box2 {
    /* The image  */
    background-image: url("/assets/img/c25.png");
    /* Set a specific height */
    min-height: 600px;
    min-width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*history header*/
  .box3 {
    /* The image  */
    background-image: url("/assets/img/c26.JPG");
    /* Set a specific height */
    min-height: 600px;
    min-width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*displacement header*/
 .box4 {
    /* The image  */
    background-image: url("/assets/img/c22.png");
    /* Set a specific height */
    min-height: 600px;
    min-width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, p{
    color: white;
}