{{title | uppercase }}

<app-navigation></app-navigation>

 <div class="box1"></div>
    <div style="height:300px; width: 100%;background-color:darkgray;">
        <br />
       <h1><img src="img/stv_signage.png" alt="STOP THE VIOLENCE"></h1>
       <br />
</div>
  <div class="box2"></div>
    <div style="height:300px; width: 100%;background-color:darkgray;">
        <br />
    <h2 id="about">ABOUT</h2>
   
		<p>The Tenderloin Stop the Violence Movement is led by a coalition of young people in our community. After losing our closest friend in April 2017 to unnecessary violence, we gathered in our grief and decided to make immediate change. Our interest in change led to the production of the “T.L. Stop the Violence Event” to build relationships with law enforcement, and create mentorship, employment, housing and mental health services. Many young people in the T.L. connect through hip hop, bringing the different nationalities together through music. We believe saving lives through multicultural hip hop connections is our future.</p>
        <br />
    </div>
    <div class="box3"></div>
    <div style="height:300px; width: 100%;background-color:darkgray;">
        <br />
    <h3>History</h3>
		<p>The history of the Tenderloin has been rich with music, theater, arts and culture since the 1940s. In July 2008,the area was designated as a historic district on the National Register of Historic Places. Over time, social issues and crime has also been present. According to a January 6th, 2014 Chronicle article, the Tenderloin is seeing its highest rates of crime and violence. Over the years there has been an uprising in violence. In 2017 up to present day the violence is out of control. The Stop the Violence event helped us to begin the process of getting back to our roots through music, arts and culture.</p>
            <br />
    </div>
    <div class="box4"></div>
    <div style="height:300px; width: 100%;background-color:darkgray;">
        <br />
    <h3>Displacement</h3>
		<p>The Tenderloin is considered an undesirable place to live, which has driven down the costs of rent. Immigrants and poor communities from all over San Francisco transcended into the Tenderloin for low cost living in SRO’s, subsidized housing and weekly hotel rentals. Homelessness due to the rapid gentrification in San Francisco has hit the Fillmore, Bayview/Hunter’s Point, Mission, Visitation Valley and Lake View the hardest. These neighborhoods were known as low income communities and suffer from the plague of violence, drugs and mental health issues. Generations of residents from San Francisco are being displaced and impacts their children, economic welfare, social status and health.</p>
   
    <br />
    </div>

   <div class="box5"></div>
    <div style="height:200px; width: 100%;background-color:darkgray;">
      <br />
      <div style="height:200px; width: 100%;background-color:darkgray;">
      <br />
  <h2 id="programs">PROGRAMS</h2>
	<p>As the violence continues to erupt in the T.L. young people, the community, law enforcement and 
	city officials gathered to produce the “T.L. Stop the Violence Event.” The serious efforts of 
	planning this event will save lives empower, educate and connect the T.L. for a better future. Future events will produce mentorship opportunities, housing, employment and mental health resources.</p>
    <div class="flexybox1"> 
        <div class="flexyone">
            
        <h3>Mentorship</h3>
		<p style="text-align: center; font-size: 15px;">Connecting Youth with Professionals<br>
		Youth Internships<br>
		Connecting elders and youth<br>
		Develop relationships with local prisons and jails<br>
        Prison programming through visits, follow up and education<br>
		Provide parolees with tools to comfortably re-enter society<br>
	       
            </div>
        <div class="flexytwo">
            <h3>Opportunities</h3>
        <p style="text-align: center; font-size: 15px;">Event Production<br>
		Law Enforcement<br>
		Security<br>
		Culiary Arts<br>
		Security <br>
		Dress for Success<br>
         Immigration Services<br>  
	     
	 </div>
        <div class="flexythree">
            <h3>Housing/Emergency Housing</h3>
		<p style="text-align: center; font-size: 15px;">Connect with housing organizations for accessible housing<br>
		Parnter with foster care service providers and churches<br>
		Shelter accessibility for displaced women, children and families<br>
		Housing for displaced 18-30 year olds<br>
		Access to emergency housing, hotel vouchers and transitional housing<br>Immigration services<br></p>
        </div>
        <div class="flexyfour">
        <h3>Mental Health</h3>
        <p style="text-align: center; font-size: 15px;">Identify mental health needs and services<br>
		  Partner with S.F. Department of Public Health<br>
		Provide Post-Traumatic Stress Disorder (PTSD) resources<br>
		Provide Holistic health care<br>
		Re-establish and maintain Existing Community garden<br>
            Healing through the Arts (Music, painting, photography, writing)<br></p>
	    
        </div>
	 <br />
        </div>    