{{title | uppercase }}

<app-navigation></app-navigation>

<app-intro></app-intro>
<div class="videoWrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/l7wQ2M8l-Dw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Stop the Violence initial incident video. This is discussion about how it all started.</p>
</div>

<app-programs></app-programs>

<app-events></app-events>

<app-volunteer></app-volunteer>

<app-donate></app-donate>

<app-contact></app-contact>