 @import url('https://fonts.googleapis.com/css?family=Cute+Font|Do+Hyeon|Fjalla+One|Playfair+Display');
 body {
         min-width: 100%;
         
     }
    h1,h2,h3 {
         text-align: center;
     }
  
  
     p {
         font-size: 20px;
         font-family: 'Muli', sans-serif;
     }
       #map {
        height: 315px;
        width: 100%;
       }
    /*STOP THE VIOLENCE SNIPPET box*/
    .box1 {
    /* The image  */
    background-image: url("img/C36.jpg");
    /* Set a specific height */
    min-height: 600px;
    min-width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
}



/* Global */
body {
  background-color: white;
}

p {
  font-size: 1em;
}

.center {
  text-align: center;
}

.full {
  width: 100%;
}
/* Global END */

/* Article */
.article {
  margin: 10px;
}

/* Logo */
.logo {
  margin: 5px 5px 5px 5px;
  width: 100px;

  text-align: center;

}
/* Logo END */

/* Article END */

/* Navigation Bar */
.nav{
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav ul li {
  flex-grow: 1;
  text-align: center;
  font-size: 25px;
}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav li{
  font-family: 'Fjalla One', monospace;
}

.nav a{
  display: inline-block;
  padding: 15px;
  text-decoration: none;
}

a:visited {
  color: black;
}

.dropdown {
  position: relative;
  display: none;
}

/* Navigation Bar END */

/* Copyright */
.sign {
  font-family: 'Cute Font', cursive;
  font-size: 1em;
}
/* Copyright END */

@media screen and (max-width: 920px) {

}

@media screen and (max-width: 650px) {
/* Navigation Bar */
.nav {
  display: none;
}

  /******************* TEST DROPDOWN NAVIGATION ******************/
  .dropbtn {
      background-color: darkred;
      color: white;
      padding: 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      width: 100%;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      font-family: 'Fjalla One', monospace;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  /********************** END **************************/

}